**/.classpath
**/.project
**/.settings/
store-core/target/
store-web/target/
**/.externalToolBuilders/
**/maven-eclipse.xml
ext-accelerator/
ext-addon/
ext-atdd/
ext-atddtests/
ext-backoffice/
ext-channel/
ext-cockpit/
ext-commerce/
ext-content/
ext-data/
ext-eventtracking/
ext-incubator/
ext-integration/
ext-platform-backoffice/
ext-platform-optional/
ext-print/
ext-supportability/
ext-template/
platform/
custom/cuppy/
custom/cuppytrail/
custom/cuppytrailbackoffice/
custom/cuppytrailcockpit/
custom/cuppytrailfrontend/
custom/cuppytrailhmc/
custom/store/
**/.classpath
**/gensrc/
**/classes/
**/.settings/
**/eclipsebin/
**/testclasses/
**/lib/
**/bin/
**/.project